<div class="homeTitle">
  <p>TrainingBuddies.</p>
</div>

<%= render :partial => "menu" %>
<p id="welcomeMessage">Hello <%= current_user.first_name %>!</p>

<div class="ui raised teal segment", id="showgroupForm">

  <p id="userIntro"><%= current_user.first_name %>' Groups:</p>
    <% @usergroup.each do |g| %>
      <div class="ui list" id="groupList">
        <div class="item">
          <i class="large sun middle aligned icon"></i>
          <div class="content">
            <p><%= link_to g.group_name, group_path(g) %></p>
          </div>
        </div>
      </div></br>
    <% end %>
  </br>
</div>



<!-- /*<style>
  body {
    background-image: url("<%=image_path('DSC_0440.NEF.jpg')%>");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
  }
</style>*/ -->
