<h1>group home</h1>

<p>Hello <%= current_user.first_name %>!</p>

<%= link_to "Make a New Group", new_group_path %> <br />
<%= link_to "Edit User",  edit_user_registration_path %> <br />
<%= link_to "Build New Workout", new_user_workout_path(current_user.id) %>


<p></p>
<p>My Groups:</p>
<% @usergroup.each do |g| %>
  <p><%= link_to g.group_name, group_path(g) %></p>
  </br>
<% end %>

</br>


<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search" %>
<% end %>
