<div class="homeTitle">
  <p>TrainingBuddies.</p>
</div>

<%= render :partial => "menu" %>


<!--+++++++ group info +++++++-->
<div class="ui raised teal segment" id="groupInfo">
  <p><%= @group.group_name %></p>

  <div class="ui raised segment" id="groupmainOther">
    Group Created By:
    <%= User.find(@group.user_id).first_name %><br>
    Group Type:
    <%= @group.group_type %><br>
    Group Goal:
    <%= @group.group_goal %><br>

    <div id="groupinfo">
      <p>Group Members:</p>
      <% @users.each do |user| %>
        <%= user.first_name %></br>
      <% end %><br />
    </div>
  </div></br>

</div>

<!--+++++++ events +++++++-->

<div id="calContainer">
  <%= render :partial => "calendar" %>
</div>

<!--+++++++ create posts +++++++-->
<div class="ui raised segment" id="messBoard">


  <div class="ui big horizontal divided list" id="messageHead">
    <div class="item">
      <i class="huge comments blue icon"></i>
      <div class="content">
        <div class="header">Messages</div>
      </div>
    </div>
  </div>

  <%= form_for [current_user, @post], :html => {:class => 'ui form', :id => 'messageForm'} do |f| %>
    <div class="field">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :group_id, {value: @group.id, id: "groupID"}  %>
      <%= f.text_field :title, placeholder: "Title" %>

      <%= f.text_area :content, placeholder: "Share with your Buddies" %>
      <%= f.submit "Submit" %>
    </div>
  <% end %>

  <!--+++++++ show posts +++++++-->

  <% @posts.each do |post| %>
    <div class="ui raised teal segment" id="post">

      <%= User.find(post.user_id).first_name %></br>
      <%= post.content %>

      <!--+++++++ comments +++++++-->
      <div class="ui raised blue segment">
        <div class="content">
          <% @comments.each do |comment| %>
            <% if comment.post_id == post.id %>
              <a class="author">
                <%= User.find(comment.user_id).first_name %></br>
              </a>
              <div class="text">
                <%= comment.content %></br>
              </div>
            <% end %>
          <% end %></br>
        <!--+++++++ create comments +++++++-->

          <%= form_for [current_user, @comment], :html => {:class => 'ui reply form', :id => 'commentForm'} do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: post.id %>
            <div class="field" id="commentfield">
                <%= f.text_field :content, autofocus: true, placeholder: "Leave a Comment" %>
            </div>
            <div class="actions">
              <%= f.submit "Submit", class: "ui basic teal button", id: "commentButton" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
