<h1>SHOW GROUP</h1>

<p>Group Name: <%= @group.group_name %></p></br>
<p>Group Leader: <%= @group.group_leader %></p></br>
<p>Group Type: <%= @group.group_type %></p></br>
<p>Group Goal: <%= @group.group_goal %></p></br>

<p>Group Members:</p>
<% @users.each do |user| %>
  <%= user.first_name %></br>
<% end %>
</br>
