<div class="ui raised teal segment", id="createeventForm">
  <h2> Create a New Session </h2><br>

  <%= form_for [current_user, @event], :html => {:class => 'ui form'} do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :id, value: @event.id %>

    <div class="field">
      <%= f.text_field :title, autofocus: true, placeholder: "Session Title" %><br/>
    </div>

    <%= f.label :Start_Time %>
    <div class="fields">
      <%= f.datetime_select :start, :ampm => true, :minute_step => 15 %>
    </div>

    <%= f.label :End_Time %>
    <div class="fields">
      <%= f.datetime_select :end, :ampm => true, :minute_step => 15 %>
    </div>

    <%= f.label :Group %>
    <div class="ui">
      <%= select("event", "group_id", @usergroup.all.map { |r| [ r.group_name, r.id ] }, { :include_blank => true }) %><br/>
    </div>

    <%= f.label :workout %>
    <div class="ui">
      <%= select("event", "workout_id", @workouts.all.map { |r| [ r.workout_name, r.id ] }, { :include_blank => true }) %><br/>
    </div>

    <div class="field">
      <%= f.text_field :event_location, autofocus: true, placeholder: "Location" %>
    </div>

    <div class="field">
      <%= f.text_field :color, autofocus: true, placeholder: "Color" %><br/>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "ui basic teal button", id: "newgroupButton" %>
    </div>

  <% end %>
</div>
