<h4>New Post Form</h4>

<%= form_for @post do |f| %>
  <p>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.label :title %><%= f.text_field :title %>
    <%= f.label :content %><%= f.text_field :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
